* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(195, 195, 195);
  height: 100vh;
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 155px;
  left: 100px;
  z-index: 1;
}

.vitesse-effect {
  width: 200px;
  height: 3px;
  background: linear-gradient(90deg, transparent 0%, rgb(126, 126, 126) 100%);
  /* border: 1px solid rgb(151, 151, 151); */
  margin: 3px;
}

.vitesse1 {
  position: absolute;
  top: 100px;
  left: 20px;
}

.vitesse2 {
  position: absolute;
  top: 80px;
  left: -50px;
}

.vitesse3 {
  position: absolute;
  top: 240px;
  left: -50px;
}

.vitesse4 {
  position: absolute;
  top: 260px;
  left: 100px;
}

img {
  position: absolute;
}

.animate {
  display: none;
}

button {
  padding: 30px;
  font-size: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fly {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(100vw);
  }
}
